.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
background:linear-gradient(to bottom, #f1f4f9, #1f4767);
  /* background-color: #edffec; */
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #000;
}

p {
  font-size: 2rem;
  color: #000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #000;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
